/* songs.css */

/* Container styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
 /* Form styles */
    form {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    }

    legend {
        font-size: 24px;
        margin-bottom: 10px;
        color: #333;
    }

    label {
        display: block;
        margin-bottom: 5px;
        color: #555;
    }

    input[type="text"],
    input[type="number"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    input[type="submit"] {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #3498db;
        color: #ffffff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #2980b9;
    }


/* Song card styles */
.song-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.song-card {
    flex: 0 1 calc(33.33% - 20px); /* Three songs in a row with spacing */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-right: 20px; /* Spacing between cards */
}

.song-info {
    padding: 10px;
    text-align: left;
}

.song-info h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #333;
}

.song-info p {
    margin: 5px 0;
    color: #777;
}
/* Style the navigation bar list */
.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Style the navigation bar links */
.navbar-link {
    text-decoration: none;
    color: #fff;
}

.navbar-link:hover {
    text-decoration: underline;
}


