<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Songr Spring MVC App</title>
  <link rel="stylesheet" href="/home.css">
</head>
<body>
<div class="home-container">
  <h1>Songr Spring MVC App</h1>
  <p>This is a project for applying what I learned in Spring MVC.</p>
  <h2>Available Routes:</h2>
  <ul>
    <li><a href="/hello">/hello</a> - Returns an HTML page with the text: "hello world"</li>
    <li><a href="/capitalize/smalltext">/capitalize/smalltext</a> - Returns an HTML page with any text in UPPERCASE.</li>
    <li><a href="/albums">/albums</a> - - Which returns an html page with a Form to add any album you want.</li>
  </ul>
</div>
</body>
</html>
